PORT=3001

FRONTEND_URL=https://luizfelipeosz.github.io/Noir-Avenue

DATABASE_URL="file:./dev.db"

RESEND_API_KEY=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=luizfelipefefe3@gmail.com
MAIL_PASSWORD=




